[Desktop Entry]
Type=Application
Name=Crisol
GenericName=Mod manager
GenericName[es]=Gestor de mods
Comment=Mod manager for Steam and Umbral games (Nexus Mods)
Comment[es]=Gestor de mods para juegos de Steam y Umbral (Nexus Mods)
Exec=crisol %u
Icon=dev.madky.Crisol
Terminal=false
Categories=Game;
Keywords=mods;nexus;steam;umbral;modding;
MimeType=x-scheme-handler/nxm;
StartupWMClass=dev.madky.Crisol
StartupNotify=true
